<div class="p-4">
    <h4 class="font-italic mb-4" style="border-bottom: 1px solid #222; display: inline-block;">Trending</h4>
    {% for trending_post in trending_post %}
    <div class="trend-entry d-flex" style="margin-bottom: 30px;">
        <div class="number align-self-start">0{{ forloop.counter}}</div>
        <div class="trend-contents">
        <h4><a href="{% url 'home:post_detail' trending_post.pk %}">{{trending_post.title}}</a></h4>
        <div class="post-meta">
            <span class="d-block"><a style="color:#34baeb;">{{trending_post.author}}</a></span>
            <span class="date-read">{{ trending_post.timeStamp|date:"d F Y" }}<span class="mx-1">•</span> {{trending_post.read_time}} read <span class="icon-star2"></span></span>
        </div>
        </div>
    </div>
    {% endfor %}
    <p><a href="#" class="more" style="color:#34baeb;">See All Trends <i class="fas fa-chevron-right"></i></a></p>
</div>

<div class="p-4">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled">
    <li><a style="color:#34baeb;" target="_blank" href="https://github.com/ansh9690">GitHub</a></li>
    <li><a style="color:#34baeb;" target="_blank" href="https://www.linkedin.com/in/anshu-prakash/">Linkedin</a></li>
    </ol>
</div>